<div class="container content is-normal">
    <div class="contact">
        <h1>Contact</h1>
        <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
            eaque alias! Unde ab commodi eum id optio
            dolorum mollitia, magni error blanditiis i
            psam nesciunt, quia nemo consectetur eos est quisquam!</p>
        <div class="columns is-centered is-mobile">
            <div class="underline-style "></div>
        </div>
    </div>
    <div class="columns">
        <form class="column">
            <div class="columns">
                <div class="column">
                    <p class="control has-icons-left">
                        <input class="input is-rounded" type="text" placeholder="Nom">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
                <div class="column">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="email" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>

            </div>
            <div class="columns">
                <div class="column">
                    <p class="control has-icons-left">
                        <input class="input is-rounded" type="text" placeholder="Sujet">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="columns">
                <div class="control column">
                    <textarea class="textarea has-fixed-size is-rounded" rows="7"
                        placeholder="Votre message"></textarea>
                </div>
            </div>
            <div class="columns is-centered is-mobile">
                <button class="button column is-half is-primary submit">Envoyer</button>
            </div>
        </form>
        <br>
        <div class="column address">
            <div>
                <div class="columns is-mobile" data-aos="fade-left" data-aos-duration="1000">
                    <div class="column is-one-quarter">
                        <i class="fa fa-map-marker-alt icon-contact"></i>
                    </div>
                    <div class="column">
                        <h2>Adresse</h2>
                        <span>Lot: 852 R 414 Antananarivo </span>
                    </div>
                </div>
                <div class="columns is-mobile " data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
                    <div class="column is-one-quarter">
                        <i class="fas fa-phone icon-contact"></i>
                    </div>
                    <div class="column">
                        <h2>Téléphone</h2>
                        <span>0338596321 - 0347852369 </span>
                    </div>
                </div>
                <div class="columns is-mobile" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">
                    <div class="column is-one-quarter">
                        <i class="fas fa-envelope icon-contact"></i>
                    </div>
                    <div class="column">
                        <h2>Email</h2>
                        <span>e-book@gmail.com </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>