<div class="container-fluid ">
    <div class="columns content">
        <div class="column">
            <img src="../../../assets/images/books/book-3.png" alt="">
        </div>
        <div class="column info1">
            <h2>Book title</h2>
            <h3>100 000 Ar</h3>
        </div>
        <div class="column info2">
            <input type="number" min="0" max="100" value="0" name="" id="">
            <h3>200 000Ar</h3>
        </div>
        <div class="column info2">
            <h3>Lot: 0705 D 789 Antananarivo</h3>
        </div>
        <div class="column info3">
            <i class="fas fa-trash-can"></i>
        </div>
    </div>
    <hr>
</div>