<div class="container-fluid content is-normal">
    <h1>Récapitulatif de mon panier</h1>
    <div class="columns cart_content">
        <div class="column is-three-quarters cart">
            <div class="cart_header columns">
                <div class="column">
                    <div class="control has-icons-left ">
                        <input class="input is-rounded is-one-quarters" type="text" placeholder="Search">
                        <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="column delete_all_column">
                    <button class="button" (click)="toggleModal($event)">
                        <span class="icon">
                            <i class="fas fa-xmark"></i>
                        </span>
                        <span>
                            Supprimer tout
                        </span>
                    </button>
                </div>
            </div>
            <div class="list_product">
                <ng-container *ngFor="let item of books">
                    <app-book-cart-view></app-book-cart-view>
                </ng-container>
            </div>

            <div class="cart_footer">
                <div></div>
            </div>
        </div>
        <div class="column cart_validation">
            <div class="zone_total_price">
                <div class="total_price">
                    <span>Produit:</span>
                    <span>300 000 Ar</span>
                </div>
                <div class="total_price">
                    <span>Livraison:</span><span class="price_value">30 000 Ar</span>
                </div>
                <hr>
                <div class="total_price">
                    <span class="total">Total:</span><span class="total_price_value">330 000 Ar</span>
                </div>
                <button class="button command" (click)="toggleModal($event)">Valider la commande</button>
            </div>
            <div class="zone_info">
                <div class="info_command">
                    <span><i class="fa-solid fa-calendar-day"></i></span>
                    <span>&nbsp;Expédié en 24h maximum</span>
                </div>
                <div class="info_command">
                    <span><i class="fa fa-cart-flatbed"></i></span>
                    <span>Livraison bien sécurisé</span>
                </div>
                <div class="info_command"><span><i class="fa-solid fa-lock"></i></span>
                    <span>&nbsp;Payement ultra sécurisé</span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-popup-confirm *ngIf="!commandShow" [show]="show" (showEvent)="receiveShowValue($event)"
    [question]="deleteQuestion">
</app-popup-confirm>
<app-popup-confirm *ngIf="commandShow" [show]="show" (showEvent)="receiveShowValue($event)"
    [question]="commandQuestion">
</app-popup-confirm>