<div class="container content is-normal">
    <div class="service">
        <h1>Services</h1>
        <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
            eaque alias! Unde ab commodi eum id optio
            dolorum mollitia, magni error blanditiis i
            psam nesciunt, quia nemo consectetur eos est quisquam!</p>
        <div class="columns is-centered is-mobile">
            <div class="underline-style "></div>
        </div>
    </div>
    <div class="columns">
        <div class="column serv-list">
            <div class="columns is-mobile service-block ">
                <div class="column is-one-quarter serv-icon">
                    <i class="fas fa-book icon-service"></i>
                </div>
                <div class="column detail-service">
                    <h2 class="service-title">Ventes</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eos hic est nesciunt
                        optio ad neque earum, sit cumque tempore minus quae</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="columns is-mobile service-block ">
                <div class="column is-one-quarter">
                    <i class="fas fa-car icon-service"></i>
                </div>
                <div class="column detail-service">
                    <h2 class="service-title">Livraisons</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eos hic est nesciunt
                        optio ad neque earum, sit cumque tempore minus quae</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="columns is-mobile service-block ">
                <div class="column is-one-quarter">
                    <i class="fas fa-gears icon-service"></i>
                </div>
                <div class="column detail-service">
                    <h2 class="service-title">Autres</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eos hic est nesciunt
                        optio ad neque earum, sit cumque tempore minus quae</p>
                </div>
            </div>
        </div>
    </div>
</div>