.modal-content {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    padding: 8px 10px;

    .modal_header {
        display: flex;
        justify-content: flex-end;
        margin: -4px -5px 5px 0px;
    }


    .question {
        margin-left: 15px;
    }

    .content_footer {
        display: flex;
        margin-top: 30px;
        justify-content: flex-end;

        button {
            margin-right: 10px;
        }
    }
}