<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item logo">
            <i class="fa-solid fa-book"></i><span class="ebook">&nbsp;&nbsp;E-book</span>
        </a>
        <a role="button" class="navbar-burger" (click)="active = !active" [ngClass]="{'is-active': active}"
            aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu" (click)="active = !active" [ngClass]="{'is-active': active}">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/">
                Accueil
            </a>
            <a class="navbar-item">
                Services
            </a>
            <a class="navbar-item" routerLink="/sell">
                Livres
            </a>
            <a class="navbar-item">
                Contact
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item" *ngIf="connected == false">
                <div class="buttons">
                    <a class="button is-primary" routerLink="/sign-up/true">
                        <strong>S'inscrire</strong>
                    </a>
                    <a class="button is-light" routerLink="/sign-up/false">
                        Se connecter
                    </a>
                </div>
            </div>
            <div class="navbar-item" *ngIf="connected == true">
                <button class="button_cart" routerLink="/cart">
                    <i class="fa fa-cart-plus"></i>
                    <span class="badge is-warning">+12</span>
                </button>
                <div class="user is-flex" routerLink="/">
                    <img src="../../../assets/images/users/admin.png" alt="">
                    <span>&nbsp;&nbsp;Utilisateur</span>
                </div>
            </div>
        </div>
    </div>
</nav>