//pallete #3c1642,#086375,#1dd3b0,#affc41,#b2ff9e 
@import 'src/styles.scss';

.logo {
    color: $primary;
    font-family: $font;

    .ebook {
        letter-spacing: 3px;
        font-size: 1.5rem;
    }

    .fa-book {
        font-size: 1.5rem;
    }
}

.is-primary {
    background-color: $primary;

    &:hover {
        background-color: $primary_hover;
    }
}