<app-jumbotron-books></app-jumbotron-books>
<div class="all_content">
    <app-toolbar-filter></app-toolbar-filter>
    <h1 class="subtitle is-normal">Tous</h1>
    <div class="content columns is-multiline">
        <ng-container *ngFor="let tmp of books">
            <app-book-card [title]="tmp.title" [path]="tmp.image" [price]="tmp.price" [description]="tmp.description"
                [author]="tmp.author" [quantity]="tmp.quantity" [edit]="tmp.edit" [genre]="tmp.genre" class="column">
            </app-book-card>
        </ng-container>
    </div>
</div>