<div class="container-fluid content is-normal">
    <div class="columns toolbar">
        <div class="select is-small">
            <select>
                <option>Tous</option>
                <option>Type 1</option>
                <option>Type 2</option>
            </select>
        </div>
        <div class="select is-small">
            <select>
                <option>Tous</option>
                <option>Author 1</option>
                <option>Author 2</option>
            </select>
        </div>
        <div class="select is-small">
            <select>
                <option>Tous</option>
                <option>2000</option>
                <option>2001</option>
                <option>2002</option>
            </select>
        </div>
        <button class="button is-small is-success">
            <span class="icon is-small">
                <i class="fas fa-filter"></i>
            </span>
            <span>Filter</span>
        </button>
    </div>
</div>