/* You can add global styles to this file, and also import other style files */
$primary: #086375;
$primary_hover: #043842;
$font: "Roboto", sans-serif;

@mixin transform($value) {
    -webkit-transform: $value;
    transform: $value;
}

@mixin trans-duration($time) {
    -webkit-transition-duration: $time;
    transition-duration: $time;
}