<div class="container content is-normal is-fullhd ">
    <div class="columns infos is-8-desktop">
        <div class="column">
            <div>
                <h1 class="logo"><i class="fa-solid fa-book"></i><span class="ebook">&nbsp;&nbsp;E-book</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur a
                    dipisicing elit. Ab reprehenderit aliquid vel is
                    te impedit molestias laudantium ullam nam magni quia reic
                    iendis necessitatibus eaque, nisi nobis tenetur enim verit
                    atis fugit. Cumque.</p>
            </div>
        </div>
        <div class="column">
            <div>
                <h2>Office</h2>
                <div class="underline-style"></div>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Assumenda perspiciatis possimus ducimus autem! Quisquam fug
                    a consequatur in odio </p>
            </div>
        </div>
        <div class="column">
            <div>
                <h2>Menu</h2>
                <div class="underline-style"></div>
                <ul>
                    <li>Accueil</li>
                    <li>Reservation</li>
                    <li>Livres</li>
                    <li>Contact</li>
                </ul>
            </div>

        </div>
        <div class="column social-column">
            <div>
                <h2>
                    Suivez - nous
                </h2>
                <div class="tmp">
                    <div class="underline-style"></div>
                </div>
                <div class="social">
                    <i class="fab fa-facebook"></i>
                    <i class="fa fa-envelope"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="coopiright">
        <span>Coopiright 2022 - Developpé par <span class="didi"><b>Diary Elmane</b></span></span>
    </div>
</div>