<div class="card1 container">
    <div class="book">
        <img class="book_img" src="{{path}}" alt="F4">
        <div class="info">
            <div class="btn_detail">
                <button class="button" (click)="toggleModal()"><i
                        class="fa fa-info-circle"></i>&nbsp;&nbsp;Details</button>
                <button class="button" *ngIf="!connected" disabled><i class="fa-solid fa-cart-plus"></i>&nbsp;&nbsp;Add
                    to
                    cart</button>
                <button class="button" *ngIf="connected"><i class="fa-solid fa-cart-plus"></i>&nbsp;&nbsp;Add to
                    cart</button>
            </div>
        </div>
        <div class="price">
            <h1 class="price_value">Ar 100 000</h1>
            <img class="price_img" src="../../../assets/images/price1.png" alt="F4">
        </div>
    </div>
    <div class="led">
        <br><br><br><br>
    </div>
    <div class="stand">
        <img src="../../../assets/images/stand.png" alt="F4">
    </div>
</div>

<!-- Modal -->
<div class="modal" [ngClass]="{'is-active': show == true}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column book_modal">
                    <img class="book_img_modal" src="{{path}}" alt="F4">
                    <div class="price_modal">
                        <h1 class="price_value_modal">Ar 100 000</h1>
                        <img class="price_img_modal" src="../../../assets/images/price1.png" alt="F4">
                    </div>
                </div>
                <div class="column">
                    <h1>Book title</h1>
                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
                        eveniet cupiditate excepturi cum obcaecati explicabo alias! Delectus incidunt cumque perferendis
                        et repudiandae! Ad par
                        iatur inventore saepe maxime, sed deserunt facere.</p>
                    <div class="all_info_book">
                        <p><span class="book_desc">Genre:&nbsp;</span><span class="book_desc_value">Romantique</span>
                        </p>
                        <p><span class="book_desc">Author:&nbsp;</span><span class="book_desc_value">Socrate</span></p>
                        <p><span class="book_desc">Delivré le:&nbsp;</span><span class="book_desc_value">29 janvier
                                1996</span></p>
                        <p><span class="book_desc">Nombre(s):&nbsp;</span><span class="book_desc_value">50</span></p>

                    </div>
                </div>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-disabled" *ngIf="!connected" routerLink="/sign-up/true"><i
                    class="fa-solid fa-right-to-bracket"></i>&nbsp;&nbsp;Sign
                up</button>
            <button class="button is-disabled" *ngIf="connected"><i class="fa-solid fa-cart-plus"></i>&nbsp;&nbsp;Add to
                cart</button>
        </footer>
    </div>
</div>